.github__link-text {
  display: flex;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  align-self: flex-start;
}
.github__link-text::after{
  content: '';
  background-image: url('../../../images/arrow.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
