.footer__holder{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 840px) {
  .footer__holder {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
