.search-content__loader{
  display: block;
	width: 74px;
	height: 74px;
	border: 5px solid transparent;
	border-bottom-color: #888;
	box-shadow: 0 0 2px #1a1b22;
	box-sizing: border-box;
	border-radius: 50%;
	animation: spin .75s infinite linear;
	margin-bottom: 28px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
