.commits-story__container {    
    display: flex;    
    width: 100%;
    margin: 64px 0 42px;    
    justify-content: space-between; 
    overflow: hidden;
    position: relative;  
     
}

@media screen and (max-width: 768px) {
    .commits-story__container {
         margin: 32px 0 30px;           
    }
}

@media screen and (max-width: 425px) {
    .commits-story__container {
        margin: 16px 0;                  
    }
}