.title{
  font-size: 60px;
  line-height: 64px;
  font-weight: normal;
  margin-bottom: 26px;
  margin-top: 0;
}
@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 40px;
    max-width: 80%;
    margin-bottom: 14px;
  }
}

@media (max-width: 450px) {
  .title {
    margin-bottom: 16px;
  }
}
