@import url('./__content/info__content.css');

@import url('./__text/info__text.css');

.info {
  font-family: 'Roboto Slab', 'Roboto', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  margin: 0;
}

@media (max-width: 700px) {
  .info {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .info {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .info {
    flex-direction: column;
  }
}
