@import url(./__holder/footer__holder.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__nav/footer__nav.css);
@import url(./__nav-items/footer__nav-items.css);
@import url(./__nav-item/footer__nav-item.css);


@import url(./__link/footer__link.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__social-link/footer__social-link.css);
@import url(./__social/footer__social.css);
@import url(./__socials/footer__socials.css);






.footer {
  font-family: 'Roboto Slab', 'Roboto', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 28px;
  padding-bottom: 28px;
}

@media (max-width: 800px) {
  .footer {

    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .footer {

    padding-top: 22px;
    padding-bottom: 22px;
  }
}
