@import url(./__picture/card__picture.css);
@import url(./__holder/card__holder.css);
@import url(./__date/card__date.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
@import url(./__origin/card__origin.css);
@import url(./__paragraph/card__paragraph.css);
@import url(./__link/card__link.css);

.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 400px;

}
