<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewsAnalyzer</title>
    <link rel="shortcut icon" href="<%=require('./images/favico.svg').default%>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
    <script defer src="<%= htmlWebpackPlugin.files.js %>"></script>
    </head>
    <body>
      <div class="root">
        <header class="header">
          <div class="header__nav section section_center">
            <p class="logo">NewsAnalyzer</p>
            <nav>
              <ul class="header__nav-items">
                <li class="header__nav-item">
                  <a class="header__link header__link_inactive" href="./index.html">Главная</a>
                </li>
                <li class="heder__nav-item">
                  <a class="header__link header__link_inactive" href="./about.html">О проекте</a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="line"></div>

          <nav class="analytics-nav section section_center">
            <ul class="analytics-nav__links">
              <li class="analytics-nav__item">
                <a href="index.html" class="analytics-nav__link">Главная</a>
              </li>
              <li class="analytics-nav__item">
                <a href="paper.html" class="analytics-nav__link analytics-nav__link_active">Аналитика</a>
              </li>
            </ul>
          </nav>
        </header>

        <main class="content">

          <section class="result container section section_center">
            <h2 class="container__title">Вы спросили: «Путешествия»</h2>
            <p class="result__text">Новостей за неделю: <span class="result__text result__text_number">34 324</span></p>
            <p class="result__text">Упоминаний в загаловках: <span class="result__text result__text_number">235</span></p>
          </section>

          <section class="diagram container container_color">
            <div class="section section_center">
              <div class="diagram__container">
                <h3 class="diagram__title">Аналитика по дням</h3>
                <div class="diagram__columns">
                  <p class="diagram__column-title">Дата <span>(август)</span></p>
                  <p class="diagram__column-title">Кол-во упоминаний</p>
                </div>
                <div class="line"></div>
                <ol class="diagram__scale">
                  <li class="diagram__column-title">0</li>
                  <li class="diagram__column-title">25</li>
                  <li class="diagram__column-title">50</li>
                  <li class="diagram__column-title">75</li>
                  <li class="diagram__column-title">100</li>
                </ol>
                <ol class="diagram__days">
                  <li class="diagram__day">
                    <p class="diagram__date">19, пн</p>
                    <figure class="diagram__line" style="width: 15%">
                      <figcaption class="diagram__percent">15</figcaption>
                    </figure>
                  </li>
                  <li class="diagram__day">
                    <p class="diagram__date">20, вт</p>
                    <figure class="diagram__line" style="width: 18%">
                      <figcaption class="diagram__percent">18</figcaption>
                    </figure>
                  </li>
                  <li class="diagram__day">
                    <p class="diagram__date">21, ср</p>
                    <figure class="diagram__line" style="width: 11%">
                      <figcaption class="diagram__percent">11</figcaption>
                    </figure>
                  </li>
                  <li class="diagram__day">
                    <p class="diagram__date">22, чт</p>
                    <figure class="diagram__line" style="width: 39%">
                      <figcaption class="diagram__percent">39</figcaption>
                    </figure>
                  </li>
                  <li class="diagram__day">
                    <p class="diagram__date">23, пт</p>
                    <figure class="diagram__line" style="width: 45%">
                      <figcaption class="diagram__percent">45</figcaption>
                    </figure>
                  </li>
                  <li class="diagram__day">
                    <p class="diagram__date">24, сб</p>
                    <figure class="diagram__line" style="width: 73%">
                      <figcaption class="diagram__percent">73</figcaption>
                    </figure>
                  </li>
                  <li class="diagram__day">
                    <p class="diagram__date">25, вс</p>
                    <figure class="diagram__line" style="width: 34%">
                      <figcaption class="diagram__percent">34</figcaption>
                    </figure>
                  </li>
                </ol>
                <ul class="diagram__scale">
                  <li class="diagram__column-title">0</li>
                  <li class="diagram__column-title">25</li>
                  <li class="diagram__column-title">50</li>
                  <li class="diagram__column-title">75</li>
                  <li class="diagram__column-title">100</li>
                </ul>
              </div>
            </div>
          </section>

        </main>

        <footer class="footer section section_center">
          <div class="footer__holder">
            <p class="footer__copyright">© 2020  Supersite</p>
            <nav class="footer__nav">
              <ul class="footer__nav-items">
                <li class="footer__nav-item">
                  <a href="./index.html" class="footer__link">Главная</a>
                </li>
                <li class="footer__nav-item">
                  <a href="./about.html" class="footer__link">О&nbsp;проекте</a>
                </li>
                <li class="footer__nav-item">
                  <a href="https://praktikum.yandex.ru/" class="footer__link" target="_blank">Яндекс.Практикум</a>
                </li>
              </ul>
            </nav>

            <ul class="footer__socials">
              <li class="footer__social">
                <a href="https://github.com/" class="footer__social-link">
                  <img src="<%=require('./images/github.svg').default%>" alt="Иконка Гитхаб" class="footer__social-icon">
                </a>
              </li>
              <li class="footer__social">
                <a href="https://www.facebook.com/" class="footer__social-link">
                  <img src="<%=require('./images/fb.svg').default%>" alt="Иконка Фейсбук" class="footer__social-icon">
                </a>
              </li>
            </ul>
          </div>

        </footer>
      </div>
    </body>
</html>
