.info__text {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  max-width: 815px;
  margin-bottom: 0;
  margin-top: 22px;
}

@media (max-width: 768px) {
  .info__text {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .info__text {
    margin-top: 20px;
  }
}
